.idea/
dist/
test/
test.py
ve/
env/
venv/
vm3.egg-info/
*.pyc
*.cpython-34.pyc
mysql-data/

mysql-1/mysql-logbin/*
!mysql-1/mysql-logbin/.gitkeep
mysql-2/mysql-logbin/*
!mysql-2/mysql-logbin/.gitkeep

.scannerwork/
sonar-project.local.properties

last_commit_id.txt
/.pydevproject
/.project
